.subscribe-button {
    background-color: rgb(255,0,0);
    color: white;
    border: none;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 2px;
    cursor:pointer;
    margin-right: 8px;
    transition: opacity 1s;
}
.subscribe-button:hover {
    opacity: 0;
}
.subscribe-button:active {
    opacity: 0;
}
.join-button {
    background-color: white;
    border-color: rgb(41,118,221);
    border-style : solid;
    border-width: 1px;
    color: rgb(41,118,221);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,
        color 1s;
}
.join-button:hover{
    background-color: rgb(42,118,221);
    color: white;
}
.join-button:active{
    opacity: 0.7;

}
.tweet-button {
    background-color: rgb(2,137,255);
    color: white;
    border: None;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}