input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.name-box{
    width: 148px;
}
.email-box{
    width: 300px;
    display: block;
}
button{
    background-color: rgb(47, 127, 231);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    width: 300px;
}